name: Deploy to Remote

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build
        
      - name: Copy files to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ vars.REMOTE_HOST }}
          username: ${{ vars.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          source: "dist,package.json,package-lock.json"
          target: "/home/ubuntu/apps/devcollab-server"
      
      - name: Restart server
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ vars.REMOTE_HOST }}
          username: ${{ vars.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          script: |
            cd /home/ubuntu/apps/devcollab-server
            yarn install --immutable
            pm2 reload devcollab-server
